#postDisplay
{
	bottom: 0;
	margin: 0;
	overflow: auto;
	padding: 0;
	padding-bottom: 20px;
	position: absolute;
	top: 150px;
	width: 100%;
	z-index: -1;
}

.postLinkedContent
{
	border-radius: 5px;
	display: block;
	max-height: 400px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

.postLink
{
	text-align: center;
	margin-left: 220px;
	padding-bottom: 50px;
}

.post, .comment
{
	background: white;
	border-radius: 10px;
	box-shadow: -2px 2px 0px 0px rgba(192, 190, 191, 0.75);
	cursor: pointer;
	left: 0;

	position: relative;
	right: 0;
}

.post
{
	min-height: 150px;
	height: auto;
	margin: 20px 3% 0px 90px;
}

.comment
{
	min-height: 60px;
	margin: 20px 3% 0px 160px;
}

.addComment
{
	bottom: 0;
	font-size: 30px;
	left: -40px;
	margin: auto;
	position: absolute;
	top: 20%;
}

.commentReply > .comment
{
	margin: 20px 3% 0px 250px;
}

.commentReply > .commentReply > .comment
{
	margin: 20px 3% 0px 350px;
}


.post .stars, .comment .stars
{
	font-size: 25px;
	left: 35px;

	position: absolute;
	text-shadow: 0px 0px 30px rgba(255, 255, 255, 1);
}

.post .stars
{
	line-height: 150px;
}

.comment .stars
{
	line-height: 60px;
}

.imagePost .stars
{
	background: white;
	border-radius: 0px 10px 0px 0px;
	bottom: 0;
	font-size: 25px;
	height: 35px;
	left: 0;
	line-height: 35px;
	padding: 0px;
	position: absolute;
	text-align: center;
	/*text-shadow: 0px 0px 30px rgba(255, 255, 255, 1);*/
	/*text-shadow: 0px 1px 0px rgba(255, 255, 255, 1), 0px -1px 0px rgba(255, 255, 255, 1), 1px 0px 0px rgba(255, 255, 255, 1), -1px 0px 0px rgba(255, 255, 255, 1);*/
	width: 210px;
	z-index: 1;
}


.postTitle
{
	font-size: 30px;
	margin-left: 220px;
	overflow: hidden;
	padding-top: 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.postSubtitle
{
	font-size: 20px;
	height: auto;
	margin-left: 220px;
	padding-top: 10px;
	padding-right: 10px;
	right: 0;
	top: 40px;
	white-space: normal;
}


.imagePost .postTitle
{
	height: 100px;
	line-height: 100px;
}

.commentText
{
	font-size: 20px;
	min-height: 30px;
	left: 220px;
	padding-bottom: 15px;
	padding-top: 15px;
	padding-left: 200px;
	width: calc(100% - 460px);
}

.post .lightBar
{
	bottom: 0;
	height: 25px;
	left: 210px;
	position: absolute;
	right: 110px;

}

.comment .lightBar
{
	border-radius: 0px 5px 5px 0px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 240px;
}

.darkBar
{
	bottom: 0;
	border-radius: 0px 0px 10px 0px;
	height: 25px;
	left: calc(100% - 110px);
	position: absolute;
	right: 0;
	text-align: center;

}

.postStats
{
	line-height: 25px;
}

.postUser
{
	margin-left: 10px;
}

.postTime
{
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	text-align: center;
}

.commentTime
{
	font-size: 20px;
	margin-top: 28px;
	text-align: center;
}

.commentUser
{
	font-size: 20px;
	left: 0;
	position: absolute;
	right: 0;
	top: 5px;
	text-align: center;
}

.postCategory
{
	left: 0;
	position: absolute;
	right: 10px;
	top: 0;
	text-align: right;
}

@media screen and (max-width: 1100px)
{
	.post
	{
		margin: 20px 3% 0px 60px;
		padding-top: 80px;
	}
	
	.postLink
	{
		margin: auto;
		max-width: 400px;
	}
	
	.comment
	{
		min-height: 150px;
		margin: 20px 3% 0px 80px;
	}
	
	.commentReply > .comment
	{
		margin: 20px 3% 0px 100px;
	}

	.commentReply > .commentReply > .comment
	{
		margin: 20px 3% 0px 120px;
	}

	.post .stars
	{
		font-size: 50px;
		left: 0;
		line-height: 70px;
		position: absolute;
		right: 0;
		top: 0;
		text-align: center;
	}
	
	.addComment
	{
		font-size: 50px;
		left: -50px;
	}
	
	.comment .stars
	{
		font-size: 50px;
		left: 0;
		line-height: 70px;
		position: absolute;
		right: 0;
		text-align: center;
	}
	
	.commentText
	{
		font-size: 25px;
		padding-left: 10px;
		margin-bottom: 20px;
		padding-top: 60px;
		width: 100%;
	}
	
	.post .postTitle
	{
		font-size: 40px;
		margin-left: 10px;
	}
	
	.postSubtitle
	{
		font-size: 25px;
		margin-left: 20px;
	}
	
	.postTitle
	{
		background: white;
		bottom: 35px;
		font-size: 30px;
		height:40px;
		left: 0;
		line-height: 40px;
		padding: 0;
		padding-left: 10px;
	}
	
	.post .lightBar
	{
		border-radius: 0px 0px 0px 10px;
		height: 35px;
		left: 0;
		position: absolute;
		right: 110px;
	}
	
	.comment .lightBar
	{
		border-radius: 0px 0px 5px 5px;
		bottom: 0;
		height: 30px;
		top: auto;
		width: 100%;
	}
	
	.commentTime
	{
		font-size: 18px;
		margin-top: 3px;
		margin-left: 10px;
		text-align: left;
	}

	.commentUser
	{
		font-size: 18px;
		left: 0;
		margin-right: 10px;
		position: absolute;
		right: 0;
		top: 2px;
		text-align: right;
	}

	.darkBar
	{
		bottom: 0;
		border-radius: 0px 0px 10px 0px;
		height: 35px;
		left: calc(100% - 110px);
		position: absolute;
		right: 0;
		text-align: center;
	}
	
	.postStats
	{
		font-size: 18px;
		line-height: 35px;
	}
}