#header
{
	height: 110px;
	padding: 0;
}

#burger
{
	color: white;
	display: none;
	font-size: 60px;
	position: absolute;
	top: 0px;
	left: 30px;
	line-height: 110px;
	z-index: 1;
}

#title
{
	color: white;
	left: 10px;
	position: absolute;
	top: 5px;
}

#titleLevelledUp
{
	font-size: 43px;
	left: 10px;
	position: absolute;
}

#titleCurtin
{
	font-size: 80px;
	position: absolute;
	top: 30px;
}

#headerSeparator
{
	height: 85px;
	left: 300px;
	position: absolute;
	top: 15px;
	width: 3px;
}

#headerContent
{
	padding: 0;
	margin: 0;
}

#headerContent > .categoryName
{
	font-size: 43px;
	left: 340px;
	position: absolute;
	top: 30px;
}

#themeSelector
{
	border-radius: 2px;
	cursor: pointer;
	left: 275px;
	position: absolute;
	top: 85px;
	width: 20px;
}

#themeSelector select
{
	cursor: pointer;
	opacity: 0;
}

#themeSelector i
{
	cursor: pointer;
	left: 0;
	pointer-events: none;
	position: absolute;
	top: 3px;
}

#loginButton, #registerButton, #loggedInBox
{
	border-radius: 5px;
	font-size: 25px;
	padding: 10px;
	position: absolute;
	top: 30px;
}

#loginButton
{
	right: 150px;
}

#registerButton
{
	right: 30px;
}

#loggedInBox
{
	right: 40px;
}

.pointCounter
{
	font-size: 120px;
	position: absolute;
	right: 0px;
	top: -30px;
}

.userLabel
{
	position: absolute;
	right: 0px;
}

#logoutButton
{
	border-radius: 0px 0px 5px 5px;
	cursor: pointer;
	font-size: 15px;
	padding: 5px;
	position: absolute;
	right: 0px;
	top: 49px;
}

#loginForm
{
	background: rgb(233, 232, 232); 
	border-radius: 5px;
	display: none;
	height: fit-content;
	padding: 5px;
	position: absolute;
	right: 250px;
	top: 5px;
	width: 230px;
	z-index: 1;
}

#responseDisplay
{
	margin-top: 5px;
}

#loginForm input
{
	margin-left: 5px;
}

#loginForm i
{
	font-size: 20px;
	position: absolute;
	right: 7px;
	top: 40px;
}

#loginForm input[type="password"]
{
	top: 45px;	
}

#loginClose
{
	cursor: pointer;
}

#loginTriangle
{
	border-style: solid;
	border-width: 10px 0 10px 17.3px;
	border-color: transparent transparent transparent rgb(233, 232, 232);
	position: absolute;
	right: -15px;
	top: 40px;
}

input[type="text"], input[type="password"]
{
	font-size: 15px;
	margin-top: 10px;
	padding: 5px;
}

#menubar
{
	height: 40px;
	padding: 0;
}

#menubar .categoryName
{
	font-size: 30px;
	text-align: center;
}

#menubar #addButton
{
	border-radius: 5px;
	font-size: 20px;
	left: 20px;
	margin: 4px;
	padding: 4px;
	position: absolute;
}

#mainCategory
{
	border-radius: 5px;
	font-size: 20px;
	left: 200px;
	margin: 4px;
	padding: 4px;
	position: absolute;
}

#mainCategory select
{
	cursor: pointer;
	font-size: inherit;
	opacity: 0;
	position: absolute;
	width: 190px;
	
}

#sortSelector
{
	font-size: 20px;
	margin: 4px;
	padding: 4px;
	position: absolute;
	right: 450px;
}

#starSortButton { left: 80px; }

#timeSortButton { left: 145px; }

#viewSortButton { left: 210px; }

#starSortButton, #timeSortButton, #viewSortButton
{	
	border-radius: 5px;
	margin: inherit;
	padding: inherit;
	position: absolute;
	text-align: center;
	top: -4px;
	width: 50px;
}

#searchField
{
	right: 20px;
	position: absolute;
	top: 105px;
}

#searchField > input
{
	font-size: 15px;
}

#searchField > i
{
	cursor: pointer;
	font-size: 20px;
}

@media screen and (max-width: 1100px)
{
	#burger
	{
		display: inline;
	}
	
	#headerContent
	{	
		height: inherit;
		position: absolute;
		top: 0px;
		width: 100%;

	}
	#title, #titleCurtin, #titleLevelledUp
	{
		left: 10px;
		right: 10px;
		text-align: center;
	}
	
	#titleLevelledUp
	{
		margin-left: 20px;
	}
	
	#loginForm
	{
		border-radius: 0px;
		padding: 0px;
		position: absolute;
		height: 280px;
		left: 0;
		top: 150px;
		width: 100%;	
	}
	
	#loginForm input
	{
		font-size: 40px;
		left: 10px;
		position: absolute;
		right: 10px;
	}

	#loginForm input[type="password"]
	{
		top: 75px;	
	}
	
	#loginForm i
	{
		top: 170px;
		font-size: 60px;
		left: 0;
		right: 0;
		text-align: center;
		
	}
	
	#responseDisplay
	{
		font-size: 30px;
		margin-top: 120px;
	}	
	
	#loginButton
	{
		border-bottom: solid 1px white;
		border-radius: 0px;
		font-size: 40px;
		position: absolute;
		left: 0px;
		right: 0px;
		text-align: center;
		top: 230px;
	}
	
	.pointCounter
	{
		font-size: 120px;
		margin-top: 10px;
		position: inherit;
		text-align: center;
	}

	.userLabel
	{
		font-size: 50px;
		margin-top: 10px;
		position: absolute;
		left: 0;
		right: 0;
		text-align: center;
		top: 0;
	}
	
	#menuLogoutButton
	{
		font-size: 30px;
		position: relative;
		text-align: center;
		margin-top: -40px;
		padding: 0;
	}
	
	#themeSelector
	{
		font-size: 40px;
		left: initial;
		right: 40px;
		top: 40px;
		width: 40px;

	}
	
	#headerSeparator, #headerContent > .categoryName,
	#addButton,
	#mainCategory,
	#sortSelector,
	#searchField,
	#loginButton,
	#registerButton,
	#loginTriangle,
	#loggedInBox
	{
		display: none !important;
	}
}

@media screen and (min-width: 1100px)
{
	#menubar > .categoryName
	{
		display: none;
	}	
}