html
{
	background: rgb(233, 232, 232);
	font-family: 'Ubuntu', sans-serif;
}

body
{
	margin: 0;
	overflow-x: hidden;
}

a { text-decoration: none; color: black; }

.hoverable
{
	color: rgb(29, 139, 241);  
}

.hoverable:hover
{
	color: rgb(23, 107, 204); 
}

.hoverable:active
{
	color: black; 
}

.darkBackground { background: rgb(23, 107, 204); }
.darkText { color: rgb(23, 107, 204); }
.darkButton
{ 
	background: rgb(23, 107, 204); 
	color: white;
	cursor: pointer;
}
.darkButton:hover
{
	background: rgb(29, 139, 241); 
}

.lightBackground { background: rgb(29, 139, 241); }
.lightText { color: rgb(29, 139, 241); }
.lightButton 
{ 
	background: rgb(29, 139, 241); 
	cursor: pointer;
}
.lightButton:hover { background: rgb(23, 107, 204); }
.lightInput input[type="text"]
{ 
	border: none;
	border-bottom: 2px solid white;
	background: rgb(29, 139, 241);
	color: white;
}


.lightRegister input[type="text"],
.lightRegister input[type="password"],
.lightRegister input[type="email"]
{
	border: none;
	border-bottom: 2px solid rgb(29, 139, 241);
}
.lightRegister input[type="button"]
{
	-webkit-appearance: none;
	background:rgb(29, 139, 241);
	border: none;
	border-radius: 5px;
	color: white;
	height: 50px;
	margin-right: 10px;
	width: 380px;
}
.lightRegister input[type="button"]:hover
{
	background:rgb(23, 107, 204);
}

.contrastText { color: white; }


