#mobilemenu
{
	display: none;
	height: 430px;
	overflow: hidden;
}

#burgerClose
{
	color: white;
	left: 30px;
	font-size: 60px;
	line-height: 110px;
	position: absolute;
	top: 0px;

	width: 100px;
	z-index: 1;
}

#burgerClose a
{
	color: inherit;
}

.menuItem
{
	background: none !important;
	border-top: 1px solid white;
	font-size: 40px;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
	width: 100%;
	
}

.menuItem select
{
	-webkit-appearance: none;
	background: transparent;
	border: none;
	font: inherit;
	left: 10px;
	margin-left: 10px;
	margin-right: -50px;
	opacity: 0;
	position: absolute;
	width: 95%;
}

#menuSearch input
{
	font-size: inherit;
}

#menuLoggedInBox
{
	position: relative;
	height: 140px;
}