#newPost, #newComment
{
	background: white;
	border-radius: 5px;
	box-shadow: -2px 2px 0px 0px rgba(192, 190, 191, 0.75);
	display: none;
	height: 200px;
	left: 20px;
	padding: 10px;
	position: absolute;
	right: 20px;
	top: 160px;
}

#newComment
{
	height: 150px;
}

#newClose, #commentClose
{
	cursor: pointer;
	font-size: 30px;
	position: absolute;
	right: 20px;
}

#newOk, #newCommentOk
{
	bottom: 10px;
	cursor: pointer;
	font-size: 30px;
	position: absolute;
	right: 15px;
}

#newPost input, #newComment input
{
	border: none;
	width: 90%;
}

#newPost input[name="newTitle"]
{
	font-size: 40px;
}

#newPost input[name="newSubtitle"]
{
	font-size: 20px;
}

#newComment textarea
{
	border: none;
	font-family: inherit;
	font-size: 20px;
	height: 150px;
	resize: none;
	width: 90%;
}

#newPost textarea
{
	border: none;
	font-family: inherit;
	font-size: 20px;
	height: 90px;
	resize: none;
	width: 90%;
}