
#postDisplay
{
	bottom: 0;
	margin: 0;
	overflow: auto;
	padding: 0;
	padding-bottom: 20px;
	position: absolute;
	top: 150px;
	width: 100%;
	z-index: -1;
}

.post
{
	background: white;
	border-radius: 10px;
	box-shadow: -2px 2px 0px 0px rgba(192, 190, 191, 0.75);
	cursor: pointer;
	height: 75px;
	left: 0;
	margin: 20px 3% 0px 3%;
	position: relative;
	right: 0;
}

.imagePost
{
	overflow: hidden;
	height: 150px;
}

.imagePost img
{
	left: 0;
	position: absolute;
	top: 0;
	width: 210px;
}


.post .stars
{
	font-size: 25px;
	left: 35px;
	line-height: 75px;
	position: absolute;
	text-shadow: 0px 0px 30px rgba(255, 255, 255, 1);
}

.imagePost .stars
{
	background: white;
	border-radius: 0px 10px 0px 0px;
	bottom: 0;
	font-size: 25px;
	height: 35px;
	left: 0;
	line-height: 35px;
	padding: 0px;
	position: absolute;
	text-align: center;
	/*text-shadow: 0px 0px 30px rgba(255, 255, 255, 1);*/
	/*text-shadow: 0px 1px 0px rgba(255, 255, 255, 1), 0px -1px 0px rgba(255, 255, 255, 1), 1px 0px 0px rgba(255, 255, 255, 1), -1px 0px 0px rgba(255, 255, 255, 1);*/
	width: 210px;
	z-index: 1;
}


.postTitle
{
	font-size: 30px;
	height: 50px;
	left: 220px;
	overflow: hidden;
	padding-top: 10px;
	position: absolute;
	right: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.imagePost .postTitle
{
	height: 100px;
	line-height: 100px;
}


.lightBar
{
	bottom: 0;
	height: 25px;
	left: 210px;
	position: absolute;
	right: 110px;

}

.darkBar
{
	bottom: 0;
	border-radius: 0px 0px 10px 0px;
	height: 25px;
	left: calc(100% - 110px);
	position: absolute;
	right: 0;
	text-align: center;

}

.postStats
{
	line-height: 25px;
}

.postUser
{
	margin-left: 10px;
}

.postTime
{
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	text-align: center;
}

.postCategory
{
	left: 0;
	position: absolute;
	right: 10px;
	top: 0;
	text-align: right;
}

@media screen and (max-width: 1100px)
{
	.post
	{
		height: 150px;
	}
	
	.imagePost
	{
		height: 250px;
	}

	.post .stars
	{
		font-size: 50px;
		left: 0;
		position: absolute;
		right: 0;
		text-align: center;
	}
	
	.imagePost .stars
	{
		border-radius: 0;
		height: 60px;
		line-height: 60px;
		top: 0;
		width: 100%;
	}
	
	.imagePost img
	{
		margin-top: -10%;
		width: 100%;
	}
	
	.post .postTitle
	{
		font-size: 30px;
		left: 10px;
		padding-top: 70px;
	}
	
	.imagePost .postTitle
	{
		background: white;
		bottom: 35px;
		font-size: 30px;
		height:40px;
		left: 0;
		line-height: 40px;
		padding: 0;
		padding-left: 10px;
	}
	
	.lightBar
	{
		border-radius: 0px 0px 0px 10px;
		height: 35px;
		left: 0;
		right: 110px;
	}

	.darkBar
	{
		bottom: 0;
		border-radius: 0px 0px 10px 0px;
		height: 35px;
		left: calc(100% - 110px);
		position: absolute;
		right: 0;
		text-align: center;

	}
	
	.postStats
	{
		font-size: 18px;
		line-height: 35px;
	}
}