#header
{
	height: 215px;
	padding: 0;
}
#title
{
	color: white;
	left: 10px;
	position: absolute;
	top: 5px;
}

#titleLevelledUp
{
	font-size: 86px;
	left: 10px;
	position: absolute;
}

#titleCurtin
{
	font-size: 160px;
	position: absolute;
	top: 60px;
}

#title, #titleCurtin, #titleLevelledUp
{
	left: 10px;
	right: 10px;
	text-align: center;
}

#menubar
{
	height: 40px;
	padding: 0;
	font-size: 30px;
	text-align: center;
}

#registrationForm
{
	font-size: 30px;
	text-align: center;
}

#registrationForm input
{
	font-size: inherit;
}

#registrationForm input[type="button"]
{
	cursor: pointer;
}